/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Poppins', sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.heading {
  text-align: center;
  font-size: 3rem;
  color: #fff;
}

.heading span {
  font-family: 'Pacifico', cursive;
  color: #FD514D;
  font-size: 3.4rem;
}

.navbar {
  width: 100%;
  height: 5rem;
  background: #000;
  padding: 0.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-box-shadow: 0 0.2rem 0.2rem 0rem rgba(0, 0, 0, 0.383);
          box-shadow: 0 0.2rem 0.2rem 0rem rgba(0, 0, 0, 0.383);
}

.navbar__logo {
  height: 4rem;
}

.navbar__logo img {
  height: 100%;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.navbar__menu__item a {
  color: #fff;
  font-weight: 600;
}

#loginBtn {
  font-weight: 500;
  color: #F0A501;
}

.footer {
  width: 100%;
  height: auto;
  padding: 4rem 5rem;
  background: #000;
  gap: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer div div {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.footer div div h5 {
  color: #FD514D;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.footer div div li {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 0.2rem;
  line-height: 1.5;
}

.footer__logo {
  width: 26rem;
}

.footer__logo p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
}

.footer__about {
  width: 26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__open-time {
  color: #fff;
  width: 26rem;
}

.footer__open-time div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  height: auto;
  gap: 1rem;
}

.footer__open-time div div li {
  margin-bottom: 0.5rem;
}

.footer__open-time div div ul:nth-child(1) li {
  border-right: 2px dotted white;
  padding-right: 1rem;
}

.footer__open-time div div ul:nth-child(2) li {
  color: #F0A501;
}

.hero {
  width: 100%;
  height: 80rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80") no-repeat center;
  background-size: cover;
  gap: 0;
}

.hero__main__content {
  position: absolute;
  z-index: 10;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__main__content * {
  font-size: 2.6rem;
  font-family: 'Pacifico', cursive;
  color: #fff;
  margin-bottom: 1rem;
  line-height: 3rem;
  width: 70vw;
  text-align: center;
}

.hero__main__content h1 {
  font-size: 5rem;
  color: #FD514D;
  margin-bottom: 2rem;
}

.hero__sub__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20rem;
  background: #000;
  padding: 4rem 4rem;
  z-index: 10;
}

.hero__sub__content p {
  color: #fff;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.hero__sub__content p span {
  font-family: 'Pacifico', cursive;
  color: #FD514D;
  font-size: 2.4rem;
}

.sale {
  position: relative;
  width: 100%;
  height: auto;
  background: #181A37;
  padding: 8rem 0;
}

.sale__slider {
  overflow: hidden;
  margin-top: 3rem;
}

.sale__slider .slick-prev {
  position: absolute;
  left: 3rem;
  top: 50%;
}

.sale__slider .slick-next {
  position: absolute;
  right: 3rem;
  top: 50%;
}

.sale__slider .slick-prev:before, .sale__slider .slick-next:before {
  font-size: 3.2rem;
}

.sale__slider__item {
  position: relative;
  width: 70rem;
  height: 38rem;
  background: #fff;
  padding: 2rem;
  margin: 0 20rem;
  overflow: hidden;
}

.sale__slider__item img {
  width: 100%;
  height: 24rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.sale__slider__item h5 {
  margin-top: 1rem;
  font-size: 2.6rem;
  color: #FD514D;
}

.sale__slider__item p {
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.home-menu {
  width: 100%;
  height: auto;
  background: url("../images/bg.png") top;
  padding: 8rem 4rem;
}

.home-menu__container {
  height: 30rem;
  padding: 1rem 3rem;
  margin: 4rem 0;
}

.home-menu__container h4 {
  font-size: 2.8rem;
  font-family: 'Pacifico', cursive;
  margin: 2rem;
  color: #fff;
}

.home-menu__container .list-item {
  background: #fff;
  width: 18rem;
  height: 26rem;
  padding: 2rem;
  border-radius: 0.6rem;
  text-align: center;
  position: relative;
  cursor: pointer;
  margin: 0 4rem;
  overflow: hidden;
}

.home-menu__container .list-item img {
  width: 100%;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.home-menu__container .list-item h5 {
  font-family: 'Pacifico', cursive;
  font-size: 1.6rem;
  margin: 0.5rem auto;
}

.home-menu__container .list-item .price {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}

.home-menu__container .list-item .price span {
  font-size: 1.6rem;
  color: #FD514D;
  font-weight: 700;
}

.feedback {
  position: relative;
  width: 100%;
  height: 40rem;
  padding: 5rem;
  background: #060823;
  gap: 1rem;
}

.feedback__slider {
  margin: 0 auto;
  margin-top: 3rem;
  height: 20rem;
  width: 80rem;
}

.feedback__slider .slick-dots li button:before {
  color: #FD514D;
}

.feedback__slider__item {
  position: relative;
  height: 20rem;
  text-align: center;
  margin: 0 10rem;
}

.feedback__slider__item img {
  height: 7rem;
  width: 7rem;
  border-radius: 50rem;
  background: #fff;
  position: absolute;
  top: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 0.3rem solid #fff;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.feedback__slider__item p {
  position: absolute;
  top: 12rem;
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.3;
  color: #fff;
}

.login {
  width: 100%;
  height: 100%;
  padding-top: 1.25rem;
  background-color: #060823;
  font-family: 'Pacifico', cursive;
}

.login__box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #181A37;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 4rem;
}

.login__box .login__logo__img {
  position: relative;
  width: 37.5rem;
  height: 26.875rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: -18.75rem 1.875rem;
     object-position: -18.75rem 1.875rem;
  margin-left: 6.25rem;
  z-index: 1;
}

.login__box form {
  position: relative;
  margin-top: 4.375rem;
  width: 28.125rem;
  z-index: 2;
  line-height: 1.5;
}

.login__box .login__form__control {
  position: relative;
  margin-top: 0.313rem;
}

.login__box .login__form__control label {
  color: #fff;
}

<<<<<<< HEAD
.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 1.25rem;
  background-color: #060823;
  font-family: 'Pacifico', cursive;
}

.login__box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #181A37;
  padding-bottom: 2.5rem;
}

.login__box .login__logo__img {
  position: relative;
  width: 37.5rem;
  height: 26.875rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: -18.75rem 1.875rem;
     object-position: -18.75rem 1.875rem;
  margin-left: 6.25rem;
  z-index: 1;
}

.login__box form {
  position: relative;
  margin-top: 4.375rem;
  width: 28.125rem;
  z-index: 2;
  line-height: 1.5;
}

.login__box .login__form__control {
  position: relative;
  margin-top: 0.313rem;
}

.login__box .login__form__control label {
  color: #fff;
}

=======
>>>>>>> 8d7db433e3e8f3264014e436ca4403d228921b92
.login__box .login__form__control input {
  padding: 0.313rem;
  font-size: 0.938rem;
  width: 80%;
}

.login__box .login__form__control button {
  background-color: #F0A501;
  color: #000;
  font-size: 0.938rem;
  padding: 0.625rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: block;
}

.login__box .login__form__group1 h1 {
  color: #fff;
}

.login__box .login__form__group1 p span {
  color: #8B8C9B;
}

.login__box .login__form__group1 p a {
  color: #FD514D;
}

.login__box .login__form__group4 button {
  background-color: #F0A501;
  color: #000;
  font-size: 0.938rem;
  padding: 0.625rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: block;
  margin: 1.25rem 8.125rem;
}

.login__box .login__form__group5 p {
  color: #fff;
  text-align: center;
}

.login__box .login__form__group5 p:before,
.login__box .login__form__group5 p:after {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 0.013rem;
  position: relative;
  vertical-align: middle;
  width: 35%;
}

.login__box .login__form__group5 p:before {
  right: 1rem;
  margin-left: -70%;
}

.login__box .login__form__group5 p:after {
  left: 1rem;
  margin-right: -50%;
}

.login__box .login__form__group6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 5rem;
}

.login__box .login__form__group6 button {
  background-color: white;
  padding-top: 0;
  padding-bottom: 2rem;
  font-size: 0.75rem;
  height: 2.188rem;
}

.login__box .login__form__group6 button .fa-google {
  color: #FD514D;
}

.login__box .login__form__group6 button .fa-facebook {
  color: #039BE5;
}

.login__box button, .login__box input {
  border-radius: 0.313rem;
  border: none;
}
<<<<<<< HEAD
=======

.menu {
  width: 100%;
  height: 100%;
  background-color: url(/assets/images/bg.png);
}
>>>>>>> 8d7db433e3e8f3264014e436ca4403d228921b92
/*# sourceMappingURL=style.css.map */