/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Poppins', sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.navbar {
  width: 100%;
  height: 5rem;
  background: #000;
  padding: 0.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-box-shadow: 0 0.2rem 0.2rem 0rem rgba(0, 0, 0, 0.383);
          box-shadow: 0 0.2rem 0.2rem 0rem rgba(0, 0, 0, 0.383);
}

.navbar__logo {
  height: 4rem;
}

.navbar__logo img {
  height: 100%;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.navbar__menu__item a {
  color: #fff;
  font-weight: 600;
}

#loginBtn {
  font-weight: 500;
  color: #F0A501;
}

.hero {
  width: 100%;
  height: auto;
  position: relative;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
  top: -7rem;
}

.hero__main {
  width: 101%;
  z-index: 2;
  height: auto;
}

.hero__main video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 0;
}

.hero__main__content {
  position: absolute;
  z-index: 4;
  color: 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0820328e;
}

.hero__main__content div {
  position: absolute;
  z-index: 10;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__main__content div * {
  font-size: 2.6rem;
  font-family: 'Pacifico', cursive;
  color: #fff;
  margin-bottom: 1rem;
  line-height: 3rem;
  width: 70vw;
  text-align: center;
}

.hero__main__content div h1 {
  font-size: 5rem;
  color: #FD514D;
  margin-bottom: 2rem;
}

.hero__sub {
  width: 100%;
  height: auto;
  background: #181A37;
  padding: 4rem 4rem;
  z-index: 10;
}

.hero__sub p {
  color: #fff;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.hero__sub p span {
  font-family: 'Pacifico', cursive;
  color: #FD514D;
  font-size: 2.4rem;
}
/*# sourceMappingURL=style.css.map */