.footer{
    width: 100%;
    height: auto;
    padding: 4rem 5rem;
    background: $cl-0;
    gap: 10rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;



    div div{
        width: 100%;
        height: auto;
        margin-bottom: 2rem;
        h5{
            color: $cl-1;
            font-size: 1.4rem;
            margin-bottom: 0.5rem;
            text-transform: uppercase;
        }
        li{
            // padding-left: 1rem;
            color: $cl-f;
            font-size: 1rem;
            margin-bottom: 0.2rem;
            line-height: 1.5;
            display: block;
        }
    }

    &__logo{
        width: 26rem;
        p{
            color: $cl-f;
            font-size: 1rem;
            line-height: 1.5;
        }
    }

    &__about{
        width: 26rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__open-time{
        color: $cl-f;
        width: 26rem;
        div div{
            display: flex;
            align-items: center;
            justify-content: start;
            width: 100%;
            height: auto;
            gap: 1rem;
            li{
                margin-bottom: 0.5rem;
            }
            ul:nth-child(1) li{
                border-right: 2px dotted rgb(255, 255, 255); 
                padding-right: 1rem;
            }
            ul:nth-child(2) li{
                color: $cl-2
            }
        }
    }
}