@mixin section{
    padding: 10% 15%;
    background: $cl-4;
    width: 100%;
    //##VD: Trang login > login__content
    &__content{
        background: $cl-f;
        width: 100%;
        padding: 4rem 2rem;
        @include h3;
        @include hr;
        p{
            margin-bottom: 1rem;
            line-height: 1.5;
            font-size: 1.2rem;    
        }
    }
}
@mixin h3 {
    h3{
        color: $cl-1;
        font-size: 2rem;
        text-transform: uppercase;
        line-height: 1.5;
    }
}
@mixin hr {
    hr{
        width: 10%;
        height: 0.3rem;
        background: $cl-1;
        margin: 1rem 0;
        outline: 0;
        border: 0;
    }            
}
@mixin form {
    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        input, select{
            height: 3.5rem;
            outline: 0;
            border: 0;
            background: #efefef;
            padding: 1rem;
            font-size: 1.2rem;
        }
        textarea{
            background: #efefef;
            border: 0;
            outline: 0;
        }
    }
}
@mixin button{
    button{
        border: 0;
        outline: 0;
        width: 100%;
        background: $cl-1;
        color: $cl-f;
        height: 4rem;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@mixin list {
    ul{
        width: 100%;
        .primary{
            background: #efefef;
        }
    }
    ul li{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1rem;
        span{
            width: 20%;
            overflow: hidden;
            
        }
    }
}

@mixin active($side){
    .active{
        @if $side == r{
            border-right: 0.35rem solid $cl-1;
        }
        @if $side == b{
            border-bottom: 0.35rem solid $cl-1;
        }
        @if $side == l{
            border-left: 0.35rem solid $cl-1;
        }
        @if $side == t{
            border-top: 0.35rem solid $cl-1;
        }
        background: #fd504d40 !important;
    }
}

@mixin respondsive($breakpoint){
    @if $breakpoint == big-tab{
        @media (max-width: 1600px){
            @content
        };
    }
    @if $breakpoint == medium-tab{
        @media (max-width: 1400px){
            @content
        };
    }
    @if $breakpoint == tab{
        @media (max-width: 1200px){
            @content
        };
    }
    @if $breakpoint == big-phone{
        @media (max-width: 900px){
            @content
        };
    }
    @if $breakpoint == medium-phone{
        @media (max-width: 700px){
            @content
        };
    }
}