//###################
//###################
//------------------->COLOR
$cl-f: #fff;
$cl-0: #000; 

$cl-1: #FD514D;
$cl-2: #F0A501;
$cl-3: #082032;
$cl-4: #181A37;
//------------------->BREAKPOINT
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
