#nav__ACCOUNT{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 10rem;
    gap: 1rem;
    i{
        font-size: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.account-config{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

