.product-grid{
    padding: 2rem;
    display: flex;
    gap: 3rem;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    .product{
        height: 20rem;
        width: 28rem;
        background: #efefef;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}