.product-grid{
    padding: 2rem;
    display: flex;
    gap: 2rem;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    background: red;
    // flex-direction: row;
    justify-content: space-around;
    .product{
        display: block;
        height: 20rem;
        width: 28rem;
        background: #efefef;
        
    }
}