.account{
    width: 100%;
    height: auto;
    background: $cl-4;
    padding: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;

    &__nav{
        width: 30%;
        height: 40rem;
        background: $cl-f;
        padding: 1rem;
        position: relative;
        &__name{
            position: absolute;
            width: 100%;
            height: 5rem;
            background: $cl-1;
            color: $cl-f;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        ul{
            margin-top: 5rem;
            display: flex;
            align-items: flex-start;
            justify-content: start;
            flex-direction: column;
            gap: 1rem;
            li{
                padding: 1.5rem 2rem;
                background-color: #efefef;
                width: 100%;
                border-radius: 0.4rem;
            }
        }
    }
    &__content{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @include h3;
        @include hr;
        &__overview{
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 2rem;

            &--info{
                padding: 2rem;
                width: 100%;
                height: auto;
                background: $cl-f;
                ul{
                    width: 100%;
                    background: #efefef;
                    padding: 2rem 1rem;
                    line-height: 2;
                }
            }
            &--history{
                padding: 2rem;
                width: 100%;
                height: auto;
                background: $cl-f;
                @include list;
            }
        }
        &__address{
            width: 100%;
            height: auto;
            display: flex;

            &--list{
                width: 100%;
                padding: 2rem;
                background: $cl-f;
                height: auto;
                .list-address{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    .address{
                        padding: 1rem;
                        background: #efefef;
                        ul{
                            display: flex;
                            flex-direction: column;
                            gap: 0.7rem;
                            .tag{
                                color: $cl-1;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
            &--form{
                background: $cl-f;
                position: relative;
                width: 100%;
                padding: 2rem;
                .check-box{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                }
                @include form;
                @include button;
            }
        }
        &__search{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            background: $cl-f;
            padding: 2rem;
            &--box{
                display: flex;
                height: 4rem;
                font-size: 1.4rem;
                input{
                    background: #efefef;
                    height: 100%;
                    flex: 7;
                    outline: 0;
                    border: 0;
                    padding: 1rem;
                }
                button{
                    height: 100%;
                    color: $cl-f;
                    background: $cl-1;
                    outline: 0;
                    border: 0;
                    flex: 1;
                }
            }
        }
        &__password{
            width: 100%;
            height: auto;
            padding: 2rem;
            background: $cl-f;
            @include form;
            @include button;
        }
        &__voucher{
            width: 100%;
            height: auto;
            background: $cl-f;
            padding: 2rem;
            @include list;
        }
    }
}