.brandstory{
@include section;
    &__content{
        img{
            display: block;
            width: 100%;
            object-fit: cover;
            object-position: center;
            margin: 2rem auto;
            box-shadow: 0.5rem 0.5rem 0 0 $cl-1;
        }

        p{
            span {
                font-family: 'Pacifico', cursive;
                color: $cl-1;
            &:nth-child(2){
                color: $cl-0;
            }
            }
        }

        &--sign{
            text-align: center;
            margin: 2rem;
        }
    }
}