.contact{
    width: 100%;
    padding: 10% 15%;
    background-color: #060823;
    font-family: 'Pacifico', cursive;
    display: block;

}
.contact__box{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    max-height: 40rem;
    background-color: $cl-f;
    overflow: hidden;
    border-radius: 1rem;
    .contact__box__left{
        margin-left: 5rem;
        padding: 2.375rem 2.375rem 2.375rem 0;
        .contact__box__content__left{
            padding: 0 0.938rem;
            width: 100%;
            h1{
                color: $cl-4;
                font-size: 2rem;
                margin-bottom: 2rem;
            }
            form{
                .contact__form__content__box{
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-gap: 0.5rem;
                    .contact__form__group5{
                        grid-column: 1/3;
                    }
                    .contact__form__group6{
                        grid-row: 4/4;
                        grid-column: 2/2;
                    }
                }
            }
        }
    }
    .contact__form__control{
        display: flex;
        padding-top: 0.628rem;
        line-height: 1.5;
        label{
            color: $cl-0;
            font-size: 1rem;
        }
        input{
            padding: 0.5rem;
            font-size: 1rem;
            width: 100%;
        }
        input::placeholder{
            font-size: 0.8rem;
        }
        textarea{
            font-size: 1rem;
            padding: 1rem;
            width: 100%;
        }
        textarea::placeholder{
            font-size: 0.8rem;
        }
        button{
            width: 100%;
            background-color: $cl-2;
            color: $cl-0;
            font-size: 0.938rem;
            padding: 0.625rem;
            border: none;
            cursor: pointer;
            font-weight: bold;
            display: block;
        }
    }
    .contact__box__right{
        width: 50%;
        min-height: 100%;
        float:right;
        .contact__box__content__right{
            height: 100%;
            width: 100%;
            img{
                float:right;
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}    