.hero{
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
    top: -7rem;
    &__main{
        
        width: 101%;
        z-index: 2;
        height: auto;
        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            z-index: 0;
        }

        &__content{
            position: absolute;
            z-index: 4;
            color: 1rem;
            position: absolute;
            width: 100%;
            height: 100%;
            background: #0820328e;
            div{
                
                position: absolute;
                z-index: 10;
                top: 45%;
                left: 50%;
                transform: translate(-50%,-50%);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                *{
                    font-size: 2.6rem;
                    font-family: 'Pacifico', cursive;
                    color: $cl-f;
                    margin-bottom: 1rem;
                    line-height: 3rem;
                    width: 70vw;
                    text-align: center;
                }
    
                h1{
                    font-size: 5rem;
                    color: $cl-1;
                    margin-bottom: 2rem;
                }
            }

        }
    }

    &__sub{
        width: 100%;
        height: auto;
        background: $cl-4;
        padding: 4rem 4rem;
        z-index: 10;
        p{
            color: $cl-f;
            font-size: 1.4rem;
            line-height: 2.2rem;
            span{
                font-family: 'Pacifico', cursive;
                color: $cl-1;
                font-size: 2.4rem;
            }
        }
    }
}


