.menu{
    display: flex;
    width: 100%;
    height: 90rem;
        &__box{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        }
        &__nav{
            padding-top: 2rem;
            width: 100%;
            height: auto;
            gap: 1rem;
            background: url('../images/bg.png');
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            &__searchbar{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-self: center;
                margin-top: 5rem;
                padding: 3rem;
                width: 80%;
                height: 100%;
                background-color: $cl-4;
                border-radius: 1rem;
                &__option{
                    align-self: center;
                    display: flex;
                    a{
                        position: relative;
                        transform: translate(-20%,10%);
                        background-color: #334756;
                        color: $cl-f;
                        padding: 0.625rem;
                        border-top-right-radius: 0.5rem;
                        border-top-left-radius: 0.5rem;
                    }
                }
                &__group{
                    align-self: center;
                    input{
                        padding: 0.5rem;
                        width: 30vw;
                        font-size: 1rem;
                    }
                    i{
                        margin-left: 0.5rem;
                        color: $cl-2;
                        vertical-align: middle;
                    }
                }
            }
            &__navbar{
                width: 100%;
                height: 100%;
                background-color: $cl-4;
                    ul{
                        height: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                        align-items: center;  
                    li{
                        display: block;
                        padding: 1rem 3rem;
                        border-radius: 0.4rem;
                        
                            cursor: pointer;
                            color: $cl-f;
                        
                    }
                }
            }
        }
        
        &__status{
            background-color: $cl-4;
            color: $cl-f;
            width: 20%;
            height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            text-align: center;
            font-size: 1rem;
            padding: 2rem;
        }
}
.menu__items{
    height: 100% !important;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding: 2rem;
}
.menu__product{ 
    cursor: pointer;
    border-radius: 1rem;
    height: auto !important;
    max-height: none;
    padding: 1rem;
    text-align: center;
    img{
        width: 15rem;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
    h5{
        line-height: 1.5;
        font-size: 1.6rem;
        margin: 0.5rem auto;
    }
    h5 + p{
        font-size: 0.8rem;
        padding: 0 2rem;
    }
    &__bottom{
        margin: 1rem auto;
        display: flex;
        justify-content: space-around;
        gap: 1rem;
       .price{
        text-align: center;
        span{
            font-size: 1.6rem;
            color: $cl-1;
            font-weight: 700;
        }
        }
        button{
            color: $cl-1;
            text-decoration: $cl-f;
            font-size: 1rem;
            background-color: $cl-f;
            border: 2px solid $cl-1;
            border-radius: 1rem;
            display: block;
            cursor: pointer;
        } 
        button:hover{
            transition: all .2s ease-in-out;
            color: white;
            background: green;
            border-color: green;
        }
    }
}
.menu-grid{
    background-color: $cl-f !important;
}
.menu__product:hover{
    transition: all .2s ease-in-out;
    background-color: $cl-2 !important;
}