.promotion-content{
    width: 100%;
    // height: 100rem;
    background: $cl-4;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    &__top{
        background: $cl-f;
        width: 100%;
        height: 40rem;
        display: flex;
        border-radius: 1rem;
        overflow: hidden;
        &__left{
            padding: 2rem;
            width: 60%;
            line-height: 1.5;
            h3{
                font-size: 2.4rem;
                color: $cl-1;
                margin-bottom: 2rem;
                // font-family: 'Pacifico', cursive;
                font-weight: 800;
            }
            p{
                font-size: 1.2rem;
                line-height: 1.4;
            }
            ul{
                margin-top: 1rem;
                li{
                    list-style:disc inside;
                    line-height: 1.5;
                }
            }
        }
        &__right{
            width: 60%;
            padding: 0.4rem;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 0 1rem 1rem 0;
            }
        }
    }
    &__bottom{
        border-radius: 1rem;
        width: 100%;
        background: $cl-f;
        padding: 4rem;
        h4{
            text-transform: uppercase;
            font-size: 1.8rem;
            margin: 2rem auto;
        }
        .list{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
            &-item{
                padding: 4rem 1rem;
                background-color: rgba(204, 204, 204, 0.2);
                line-height: 1.5;
                border-radius: 0.6rem;
                img{
                    margin-bottom: 2rem;
                }
                h5{
                    font-size: 1.3rem;
                }
            }
        }
    }
}