.recruitment{
    @include section;
    display: flex;
    flex-direction: column; 
    &__content{
        &__box{
            width: 100%;
            height: 40%;
            padding: 2rem;
            background: $cl-3;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 2rem auto;
            p{
                color: $cl-f;
                font-size: 1.4rem;
            }
        }
        &__form{
            display: flex;
            flex-direction: column;
            padding: 2rem;
            background: #fafafa;
            label{
                margin-bottom: 0.5rem;
            }
            input, select, textarea{
                font-size: 1.2rem;
                outline: 0;
                border: 1px solid rgba(204, 204, 204, 0.287);
                padding: 0.5rem;
                margin-bottom: 1rem;
                color: $cl-1;
            }
            input,select{
                height: 3rem;
                color: #000;

            }
            button{
                outline:  0;
                border:  0;
                background: $cl-1;
                color: $cl-f;
                font-size: 1.4rem;
                padding: 1rem; 
            }
        }
        &__noti{
            font-style: italic;
            margin-top: 2rem;
        }
    }
}